-var year = "2021"
-var vers = "2.4"

-var name = "amata"

-var b1 = "о компании"
-var b2 = "услуги"
-var b3 = "технологии"
-var b4 = "наши проекты"
-var b5 = "контакты"
-var b6 = "вакансии"

//- аналогично вынести в этот файл фрагменты _popup-index.pug после завершения верстки